body {
    background-color: rgb(229,204,255);
}

img {
    margin: auto;
    display: block;
    border-radius: 10%;
}

.uncBear {
   height: auto;
   width: 20em;
   padding-bottom: 10pt;
}

.title, h2, h3, p{
    text-align: center;
}

ul {
    text-align: center;
}

li {
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 1em;
}

.footnote {
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: rgb(138,43,226)
}

.heropic {
    height: 100px;
  }
  td,
  th {
    border: 2px solid black;
    padding: 15px;
  }
  table {
    border-spacing: 0px;
  }
  th {
    background-color: gray;
    font-size: 18px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    background-color: red;
  }

  @keyframes animation {
    0% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
    25% {
      background-color: yellow;
      left: 300px;
      top: 0px;
    }
    50% {
      background-color: blue;
      left: 300px;
      top: 800px;
    }
    75% {
      background-color: green;
      left: -300px;
      top: 800px;
    }
    90% {
      background-color: red;
      left: -300px;
      top: 0px;
    }
    100% {
        background-color: blueviolet;
        left: 0px;
        top: 0px;
    }
  }

  .superhero {
    animation-name: animation;
    animation-iteration-count: 2;
    animation-duration: 3s;
    animation-direction: alternate;
    position: relative;
  }

